
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    

<meta name="description" content="菜鸟最近学习tornado开发网站，读的书是《Introduction To Tornado》，记录一些零零碎碎  网站组成  我盗图了；图片中前台采用的BootStrap，后台采用Tornado，数据库是MongoDB，都是快速开发的实用性框架和数据库  代码编写架构代码目录或文件的划分：  ma">

<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="SuKai_Coding">
<meta name="twitter:title" content="Tornado开发菜鸟日记">
<meta name="twitter:description" content="菜鸟最近学习tornado开发网站，读的书是《Introduction To Tornado》，记录一些零零碎碎  网站组成  我盗图了；图片中前台采用的BootStrap，后台采用Tornado，数据库是MongoDB，都是快速开发的实用性框架和数据库  代码编写架构代码目录或文件的划分：  ma">
<meta name="twitter:creator" content="SuKai_Coding">


    <title>
Tornado开发菜鸟日记 | Sukai's Blog
</title>
    <link rel="stylesheet" href="http://sukai.me/static/css/style.css?v=f7f50f0e1df3786101dc911c064e06fe" type="text/css" />
    <link rel="stylesheet" href="http://sukai.me/static/css/pygments_style.css?v=f52807bdba7d67ebabc3ce287f67bf67" type="text/css" />
    <link rel="alternate" type="application/rss+xml" href="http://sukai.me/feed.xml" title="Sukai's Blog" />
    <link rel="canonical" href=""/>
    
    

</head>

<body>
<div id="wrap" class="clearfix">
    <div class="pull-left w180">
        <div id="logo">
            <a href="http://sukai.me/"><img src="http://sukai.me/static/imgs/logo.png?v=48119af2491aacbd72cdd480014e9d5f"></a>
        </div>

        <ul id="navigator">
            <li><a href="http://sukai.me/">日志归档</a></li>
            
            <li><a href="http://sukai.me/AboutMe/">关于我</a></li>
            
            <li><a href="http://sukai.me/Board/">交流版块</a></li>
            
            <li><a href="http://sukai.me/friend/">友链</a></li>
            
            <li><a href="http://sukai.me/MyHistory/">苏苏足迹</a></li>
            
            <li><a href="http://sukai.me/MyTrans/">开源翻译</a></li>
            
        </ul>
    </div>

    <div class="pull-right w910">
        
<div class="post-header">
    <h1 class="post-title">Tornado开发菜鸟日记</h1>
    <div class="clearfix">
        <div class="post-meta pull-right">Published at Jan 07, 2015</div>
    </div>
</div>

<div class="post-content">
        <p>菜鸟最近学习tornado开发网站，读的书是《Introduction To Tornado》，记录一些零零碎碎  </p>

<h3>网站组成</h3>

<p><img src="https://raw.githubusercontent.com/su-kaiyao/record/master/others/imgs/%E7%BD%91%E7%AB%99%E7%BB%84%E6%88%90%E7%A4%BA%E6%84%8F%E5%9B%BE.png" alt="网站组成示意图"/>  </p>

<p>我盗图了；图片中前台采用的<code>BootStrap</code>，后台采用<code>Tornado</code>，数据库是<code>MongoDB</code>，都是快速开发的实用性框架和数据库  </p>

<h3>代码编写架构</h3>

<p>代码目录或文件的划分：  </p>

<ul>
<li>main.py: tornado启动入口文件，包含tornado的启动流程<br/></li>
<li>settings.py: 项目配置代码放置此处<br/></li>
<li>urls.py: 放置所有用户请求连接与handler的对应关系<br/></li>
<li>init_db.py: 数据库配置以及初始化<br/></li>
<li>handlers目录: 所有handler存放位置，里面有一个父类BaseHandler，继承torando.web.RequestHandler，供其余handler继承<br/></li>
<li>static目录: 里面会包含css目录，img目录<br/></li>
<li>templates目录: 前台模板目录，里面有一个layout.html模板，供其余模板复用<br/></li>
</ul>

<h3>tornado模板扩展</h3>

<p>我们会非常希望，前端代码和后端代码一样，可以进行重复使用，tornado为开发者实现这一点，通过<strong>extends</strong>和<strong>block</strong>语句来支持模板继承  </p>

<p>扩展一个已经存在的模板，只需在模板文件的顶部加入{% extends &ldquo;layout.html&rdquo;%}  </p>

<p>以及tornado的块基础，{% block header%}&hellip;{% end %}，让我们拥有了编写能够在适合地方复用模板的灵活性  </p>

<h3>模板转义</h3>

<p>tornado所有的模板都已经通过tornado.escape.xhtml_escape自动转义  </p>

<p>如何取消某处的转义？首先两种不推荐的方法：将autoescap=None传递给Application；在模板文件中加入{% autoescape None %}，前者是让全站模板都不转义，后者是让该页面不转义；推荐做法：在需要转义的简单表达语句上写成{% raw &hellip; %}  </p>

<p>老齐关于转义的<a href="https://github.com/qiwsir/ITArticles/blob/master/BasicPython/314.md">总结</a>蛮好的  </p>

<h3>用户验证</h3>

<p>着重注意<strong>current_user</strong>属性: 请求处理类有一个current_user属性，它同样可以在处理程序渲染的任何模板中使用，它存储了当前请求进行用户验证的标识，默认值为None。  </p>

<p>在请求处理类中可以结合authenticated装饰器使用tornado的认证功能  </p>

<p>在模板文件中结合if控制语句使用: {% if not current_user%}&hellip;.{% end %} 或 {{ current_user[&ldquo;name&rdquo;] }}  </p>

<h3>数据库操作</h3>

<p>因为不想在项目开始设计数据库及其表，所以可以使用mongodb；而且结合<a href="http://motor.readthedocs.org/en/stable/">motor驱动</a>，可以实现tornado与后台mongdb数据库之间的异步交互  </p>

<p>推荐一个mongoDB<a href="http://dataunion.org/?p=5572">极简单入门教程</a>，简单快速  </p>

        
        <div class="post-meta pull-right">
            Tagged in :
            
            <a href="http://sukai.me/tag/Tornado/">Tornado</a>
            
            <a href="http://sukai.me/tag/Python/">Python</a>
            
        </div>
        
        
    
        
        
            <div class="ds-thread"></div>
            <script type="text/javascript">
                var duoshuoQuery = {short_name:"sukai-me"};
                (function() {
                    var ds = document.createElement('script');
                    ds.type = 'text/javascript';
                    ds.async = true;
                    ds.src = 'http://static.duoshuo.com/embed.js';
                    ds.charset = 'UTF-8';
                    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(ds);
                })();
            </script>
        
    

</div>

    </div>

</div>
</body>

</html>